*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}



.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 100%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: 80px;
    top: 80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -300px;
    bottom: -800px;
}
/* form{
    height: 100px;
    width: 450px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 20%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 250px 15px;
} */

/* .formTest { 
    background-color: rgba(30, 28, 30, 0.321);
    max-width: 450px;
    transform: translate(85%, -5%);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 15px;
    position: absolute; 
    backdrop-filter: blur(10px);
    width: 100%; 
    border-radius: 60px;
    height: 135px; 
} */

.formTest { 
    height: 20px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: relative; 
    transform: translate(-50%, 0%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.teacherForm{
    height: 600px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: relative; 
    transform: translate(-50%, 0%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.theinput { 
    display: block;
    width: 120px; 
    font-size: 14px;
    font-weight: 300;
    color: white; 
}
::placeholder { 
    color: white; 
}

form *{
    font-family: 'Poppins',sans-serif;
   
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 90px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 250%;
    border-radius: 12px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: black;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.button1  {
    transition-duration: 0.6s;
    background-color: rgb(107, 110, 156);
    color: white; 
    border: 1px solid #2a0445;
    display: block; 
}


.button1:hover  {

    background-color: #4224c8; /* Green */
  
}

.btn2 {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    margin-top: 20px; 
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
  }
.social{
  margin-top: 20px; 
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}