.register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

} 

.formTest { 
    background-color: rgba(245, 242, 245, 0.321);
    max-width: 450px;
    padding: 40px;
    width: 100%;
    border-radius: 60px;
    height: 0px; 
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px; 
    color: white; 
    text-align: center;
}

.button1 { 
    height: 50px;
    width: 100%;
    background-color: #0171d3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    margin: 15px 0 10px 0;
    transition: 0.5s;
    cursor: pointer;
}

.button1:hover  {
    background-color: #00527a;
}

.formLink { 
    text-align: center; 
}

.line { 
    position: relative;
            height: 1px;
            width: 100%;
            margin: 20px 0px;
            background-color: #d4d4d4;
}

.googleimg { 
    align-items: center;
    justify-content: center;
    height: -10px; 
         
}
    