
/* ------------------- */
/* reset */
/* ------------------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
p,
span {
  font-weight: regular;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

/* ------------------- */
/* body */
/* ------------------- */

html {
  @include support("scrollbar-width: thin") 
    scrollbar-width: thin;
    scrollbar-color: lightblue lightgray;
  }

body {
  font-family: rubik;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



}

/* ------------------- */
/* utility classes */
/* ------------------- */

.display--none {
  display: none !important;
}

.overflow--hidden {
  overflow-y: hidden;
}

::selection {
  color: white;
  background: lightblue;
}